.help-block,.help-inline{color:#555555;font-size:0.9em;font-style:italic;}
footer{padding-top:20px;text-align:center;font-size:0.9em;}footer a{color:#aaaaaa;}footer a:hover{color:#aaaaaa;}
footer p{color:#bbbbbb;}
footer .footer-links li{display:inline;margin:0 10px;}